body {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
    
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

.custom-file-input:lang(en)~.custom-file-label::after {
    content: 'Обзор';
}

